<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="com.spring.xnpool.bmpos.tasks.bmpostasks.dao.mapper.BlocksMapper">
<select id="getAllUnconfirmed" resultType="com.spring.xnpool.bmpos.tasks.bmpostasks.dao.domain.payout.Blocks">
  SELECT
    id,height,blockhash,amount,difficulty,time,accounted,account_id AS accountId,worker_name AS workerName,
    shares,share_id AS shareId
  FROM
    blocks
  WHERE
    confirmations &lt; #{confirmmations} AND confirmations > -1

</select>

</mapper>
